.inputTask {
    color: #8707ff;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
}

span {
    display: inline-block;
}

.todoTask { 
    color: white;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 10px;
    background: transparent;
    width: 95%;
    margin-right: 10px;
    display: flex;
    justify-content: space-between; /* optional */    
}


.buttonAddTask {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #6c5ce7;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #a29bfe;
}

.deleteButton {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #6c5ce7;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #a29bfe;

    margin-left: auto;
}

.delete {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
}


.eachTask {
    display: flex;
    margin-bottom: 13px;
}

.headerCompleted {
    color: white;
}

.completedTasks {
    color: white;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 10px;
    background: transparent;
    width: 70%;
    /* margin-right: 10px; */

    display: flex;
    justify-content: space-between; /* optional */    
}


.tasksInUL {
    padding: 0px;
}

.buttonSave {
    margin-right: 5px;
}

.checkBoxTask {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 16px;
    line-height: 1;
}

.checkBoxTask:hover {
    cursor: pointer;
}

.editInput {
    width: 50%;
}